.calendario-container {
    overflow-x: hidden;
    margin: 20px;
}

.table-wrapper {
    overflow-x: auto;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 20px; /* Espaço maior entre tabelas */
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    border: 1px solid #ddd;
    padding: 4px 8px; /* Reduzir o padding para diminuir a altura da linha */
    text-align: center;
    line-height: 1.2; /* Reduzir a altura da linha */
}

th.conciliador-column, td.conciliador-column {
    width: 200px; /* Ajuste a largura conforme necessário */
    text-align: left; /* Alinha o texto à esquerda */
}

th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
    z-index: 1;
}

td:first-child {
    background-color: #f9f9f9;
    position: sticky;
    left: 0;
    z-index: 1;
}

.default {
    background-color: white;
}

.work {
    background-color: #d0f0c0; /* Verde mais claro */
}

.weekend {
    background-color: #e0e0e0; /* Cinza mais claro */
}

.dia-semana {
    font-size: 11px; /* Reduzir o tamanho da fonte */
    color: #555;
    font-weight: normal;
}

.sala-nome {
    font-size: 11px; /* Reduzir o tamanho da fonte */
    color: #888;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.conciliador-column .sala-nome {
    display: block;
    margin-top: 2px;
    margin-bottom: 2px;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
    padding: 10px 0; /* Espaço entre o título e a tabela */
}

.modal-content p {
    margin-bottom: 10px;
}

.juizado-row {
    background-color: #f0f0f0;
    font-weight: bold;
}
