@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Monoton:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f0f2f5;
}

h1 {
  font-size: 24px;
  margin-bottom: 24px;
}

.card, .small-card {
  margin-bottom: 24px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.small-card {
  height: 120px; /* Ajuste a altura conforme necessário */
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  color: #fff;
  height: 100vh; /* Garantir altura total da tela */
}

.header {
  background-color: #fff;
  color: #000;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 10px;
}

.logo-text {
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-bar {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 0.8rem;
  position: relative;
}

.table-container {
  margin-top: 5px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  justify-content: flex-end;
}

.dashboard-container {
  padding: 24px;
}

.dashboard-title {
  font-size: 18px; /* Diminuir o tamanho da fonte */
  margin-bottom: 24px;
}

.ant-card {
  border-radius: 8px;
}

.ant-card-head {
  font-size: 16px;
  font-weight: 600;
}

.ant-card-body {
  padding: 16px;
}

.ant-picker {
  width: 100%; /* Ajuste o tamanho do seletor conforme necessário */
}

.large-card {
  height: 400px;
}

.ant-card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}
